@import "color";

.logo-wrapper {
  display: flex;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
  }

  .logo-text {
    margin-left: 1em;

    h4 {
      font-family: Pacifico;
      font-size: 1.5rem;
      background: -webkit-linear-gradient(
        70deg,
        $primary-background,
        $primary-text
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}