@import "color";

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .full-height {
    min-height: calc(100vh - 83px);
  }

  .welcome-message {
    display: flex;
    align-items: center;
    line-height: 1.75em;

    h1 {
      text-align: center;
      margin-bottom: 0.5em;
    }
    h3 {
      text-align: center;
      font-weight: normal;
    }
  }

  .section-title {
    font-weight: bolder;
  }

  .section-title-bottom-border {
    display: block;
    background: linear-gradient(70deg, $primary-background, $primary-text);
    width: 5em;
    height: 5px;
    margin: 1em 0;
  }

  .featured-product {
    .product {
      position: relative;
      display: flex;
      height: 250px;

      .product-image-wrapper {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: all 0.2s ease-in-out;
        }
      }

      .product-content {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2s linear;

        .product-name {
          margin-bottom: 0.25em;
          font-weight: normal;
          color: $accent-text;
        }

        .product-price {
          margin-bottom: 1em;
          font-weight: bold;
          color: $accent-text;
        }

        .product-description {
          padding: 0 1em;
          text-align: justify;
          color: $accent-text;
        }
      }

      &:hover {
        .product-image-wrapper {
          img {
            transform: scale(1.2);
            filter: brightness(0.35);
          }
        }

        .product-content {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  .testimonial {
    .slider-container {
      z-index: 0;
    }

    .slick-track {
      padding: 1em 0;
    }
    
    .attestant-review {
      height: 355px;
      border-radius: 5px;
      padding: 1em;
      margin: 0 1.5em;
      box-shadow: 0 0 1em $gray;
    }

    .attestant-image-container {
      display: flex;
      justify-content: center;
    }

    .attestant-image-wrapper {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;

      img { 
        object-fit: cover;
        width: 100%;
        min-height: 150px;
      }
    }

    .attestant-review-content {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    .attestant-short-profile {
      font-size: .9rem;
      margin-top: .25em;
    }

    .attestant-review-text {
      font-style: italic;
      margin-top: 1em;
      overflow: hidden;
      height: 100px;
      line-height: 1.35em;
      font-size: .95rem;
      text-overflow: hidden;
    }

    .slick-prev::before, .slick-next::before {
      color: $primary-background;
    }

    // .slick-arrow {
    //   background-color: $accent-background;
    // }
    
    // .slick-prev, .slick-next {
    //   box-shadow: 0 8px 16px $gray;
    //   z-index: 2;
    //   width: 35px;
    //   height: 35px;
    //   border-radius: 50%;
    // }
  }

  .enclosement {
    .enclosement-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 75vh;
      background-color: $light-gray;

      .icon {
        width: 65px;
        height: 65px;
      }

      .title {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      .enclosement-item-description {
        width: 75%;
        text-align: center;
      }
    }
  }
}
