.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-container .full-height {
  min-height: calc(100vh - 83px);
}

.content-container .welcome-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.75em;
}

.content-container .welcome-message h1 {
  text-align: center;
  margin-bottom: 0.5em;
}

.content-container .welcome-message h3 {
  text-align: center;
  font-weight: normal;
}

.content-container .section-title {
  font-weight: bolder;
}

.content-container .section-title-bottom-border {
  display: block;
  background: linear-gradient(70deg, #2d8d9d, #80ECFF);
  width: 5em;
  height: 5px;
  margin: 1em 0;
}

.content-container .featured-product .product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
}

.content-container .featured-product .product .product-image-wrapper {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-container .featured-product .product .product-image-wrapper img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.content-container .featured-product .product .product-content {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.content-container .featured-product .product .product-content .product-name {
  margin-bottom: 0.25em;
  font-weight: normal;
  color: #facf80;
}

.content-container .featured-product .product .product-content .product-price {
  margin-bottom: 1em;
  font-weight: bold;
  color: #facf80;
}

.content-container .featured-product .product .product-content .product-description {
  padding: 0 1em;
  text-align: justify;
  color: #facf80;
}

.content-container .featured-product .product:hover .product-image-wrapper img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(0.35);
          filter: brightness(0.35);
}

.content-container .featured-product .product:hover .product-content {
  opacity: 1;
}

.content-container .featured-product .product:not(:last-child) {
  margin-right: 1em;
}

.content-container .testimonial .slider-container {
  z-index: 0;
}

.content-container .testimonial .slick-track {
  padding: 1em 0;
}

.content-container .testimonial .attestant-review {
  height: 355px;
  border-radius: 5px;
  padding: 1em;
  margin: 0 1.5em;
  -webkit-box-shadow: 0 0 1em #ddd;
          box-shadow: 0 0 1em #ddd;
}

.content-container .testimonial .attestant-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-container .testimonial .attestant-image-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.content-container .testimonial .attestant-image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 150px;
}

.content-container .testimonial .attestant-review-content {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.content-container .testimonial .attestant-short-profile {
  font-size: .9rem;
  margin-top: .25em;
}

.content-container .testimonial .attestant-review-text {
  font-style: italic;
  margin-top: 1em;
  overflow: hidden;
  height: 100px;
  line-height: 1.35em;
  font-size: .95rem;
  text-overflow: hidden;
}

.content-container .testimonial .slick-prev::before, .content-container .testimonial .slick-next::before {
  color: #2d8d9d;
}

.content-container .enclosement .enclosement-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75vh;
  background-color: #f2f2f2;
}

.content-container .enclosement .enclosement-content .icon {
  width: 65px;
  height: 65px;
}

.content-container .enclosement .enclosement-content .title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.content-container .enclosement .enclosement-content .enclosement-item-description {
  width: 75%;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */