@import "color";

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .full-height {
    min-height: 100vh;
  }

  .welcome-message {
    display: flex;
    align-items: center;
    line-height: 1.75em;

    h1 { 
      text-align: center;
      margin-bottom: .5em;
    }
    h3 { 
      text-align: center;
      font-weight: normal;
    }
  }

  .section-title {
    font-weight: bolder;
  }

  .section-title-bottom-border {
    display: block;
    background: linear-gradient(70deg, $primary-background, $primary-text);
    width: 5em;
    height: 5px;
    margin: 1em 0;
  }

  .featured-product {
    .product {
      position: relative;
      display: flex;
      height: 250px;

      .product-image-wrapper {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img { 
          width: 100%;
          height: 100%;
          transition: all .2s ease-in-out;
        }
      }

      .product-content {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .2s linear;

        .product-name {
          margin-bottom: .25em;
          font-weight: normal;
          color: $accent-text;
        }

        .product-price {
          margin-bottom: 1em;
          font-weight: bold;
          color: $accent-text;
        }

        .product-description {
          padding: 0 1em;
          text-align: justify;
          color: $accent-text;
        }
      }

      &:hover {
        .product-image-wrapper {
          img {
            transform: scale(1.2);
            filter: brightness(.35);
          }
        }

        .product-content { 
          opacity: 1;
        }
      }

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  .enclosement {
    .enclosement-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 75vh;
      background-color: $light-gray;

      .icon {
        width: 65px;
        height: 65px;
      }

      .title {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      .enclosement-item-description {
        width: 75%;
        text-align: center;
      }
    }
  }
}