@import "color";

.content-container {
  .row:first-child {
    margin-top: 3em;
  }
}

.section-title {
  font-weight: bolder;
  
  &.page-section-title {
    text-align: center;
    margin-bottom: 1em;
  }
}

.section-title-bottom-border {
  display: block;
  background: linear-gradient(70deg, $primary-background, $primary-text);
  width: 5em;
  height: 5px;
  margin: 1em 0;
}

.steps-row {
  .col-8 {
    margin-bottom: 2em;
  }

  .col-8:nth-child(2n - 1) {
    text-align: right;
    position: relative;

    .section-title-bottom-border {
      position: relative;
      left: 90%;
      display: block;
      background: linear-gradient(70deg, $primary-background, $primary-text);
      width: 5em;
      height: 5px;
      margin: 1em 0;
    }
  }

  .section-title {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  
  .section-title-bottom-border {
    display: block;
    background: linear-gradient(70deg, $primary-background, $primary-text);
    width: 5em;
    height: 5px;
    margin: 1em 0;
  }
}